<nav>
    <link rel="stylesheet" href="/estils.css">
    <div class="logo">🎥 {{titolGlobal}}</div>
    <ul class="menu-links">
        <li><a href="/">Inici</a></li>
        <li><a href="/movies">Pel·lícules</a></li>
        <li><a href="/customers">Clients</a></li>
    </ul>
</nav>