{{> header}}
{{> menu}}

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
        </tr>
    </thead>
    <tbody>
        {{#each customers}}
        <tr>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{> footer}}